# Ignorar los entornos virtuales
.venv/
venv/
env/

# Ignorar archivos de compilación
__pycache__/
*.pyc

# Ignorar configuraciones de editor
.vscode/
.idea/

# Ignorar la caché de pytest
.pytest_cache/

# Ignorar archivos de dependencias (si los gestionas con pip)
*.egg-info/

# Ignorar archivos de log
*.log

# Archivos temporales de pruebas
.tox/
.nox/
.coverage
